mixin like-button(buttonData)
  .input-buttons__input-wrapper.like-button__input-wrapper
    input(type="checkbox" checked=buttonData.checked id=buttonData.id).input-buttons__input.like-button__input
    label(for=buttonData.id).like-button__icon.like-button__icon_unchecked.material-icons favorite_border
    label(for=buttonData.id).like-button__icon.like-button__icon_checked.material-icons favorite
    label(for=buttonData.id).like-button__input-label= buttonData.value