include ../buttons/button

mixin dropdown(data)
  .element__wrapper.form-elements__element-wrapper.dropdown(
      id = data.id class = data.type == "guests" ? "dropdown__guests" : "element__width-middle dropdown__convenience"
      )
    if data.condition
      .element__description= data.condition
    .element__label= data.title
    input(type="checkbox" id = data.id+"-inp" checked = data.expanded == true ? true : false).dropdown__checkbox
    label.element__input.dropdown__input(for = data.id+"-inp")= data.type == "guests" ? (data.withData == true? "3 гостя" : "Сколько гостей") : "Удобства"
    label(for = data.id+"-inp").material-icons.element__icon expand_more
    .dropdown__expand
      .dropdown__options-wrapper
        .dropdown__option
          .element__label.dropdown__option-label= data.type == "guests" ? "взрослые" : "спальни"
          .dropdown__set-option-wrapper
            button.dropdown__set-option-num.dropdown__decrease-option-num -
            input(type="number" value = data.withData == true? "2" : "0").element__label.dropdown__option-num
            button.dropdown__set-option-num.dropdown__increase-option-num +
        .dropdown__option
          .element__label.dropdown__option-label= data.type == "guests" ? "дети" : "кровати"
          .dropdown__set-option-wrapper
            button.dropdown__set-option-num.dropdown__decrease-option-num -
            input(type="number" value = data.withData == true?
               data.type == "guests" ? "1" : "2" : "0").element__label.dropdown__option-num
            button.dropdown__set-option-num.dropdown__increase-option-num +
        .dropdown__option
          .element__label.dropdown__option-label= data.type == "guests" ? "младенцы" : "ванные комнаты"
          .dropdown__set-option-wrapper
            button.dropdown__set-option-num.dropdown__decrease-option-num -
            input(type="number" value = data.withBaby == true ? "1" : "0").element__label.dropdown__option-num
            button.dropdown__set-option-num.dropdown__increase-option-num +
      if data.type == "guests"
        .dropdown__buttons-wrapper
          +button({type:"link", text: "очистить"})
          +button({type:"link", text: "применить"})