include ../buttons/button

mixin dropdown(dropdownData)
  .element__wrapper.form-elements__element-wrapper.dropdown(
      id = dropdownData.id class = dropdownData.type == 'guests' ? 'element__width-wide dropdown__guests' : 'element__width-middle dropdown__convenience'
      )
    if dropdownData.condition
      .element__description= dropdownData.condition
    .element__label= dropdownData.label
    input(type="checkbox" id = dropdownData.id+'-inp' checked = dropdownData.expanded == true ? true : false).dropdown__checkbox
    label.element__input.dropdown__input(for = dropdownData.id+'-inp')= dropdownData.type == 'guests' ? dropdownData.withData == true? '3 гостя' : 'Сколько гостей' : 'Удобства'
    i.material-icons.element__icon expand_more
    .dropdown__expand
      .dropdown__options-wrapper
        .dropdown__option
          .element__label.dropdown__option-label= dropdownData.type == 'guests' ? 'взрослые' : 'спальни'
          .dropdown__set-option-wrapper
            button.dropdown__set-option-num.dropdown__decrease-option-num -
            input(type="number" value = dropdownData.withData == true? '2' : '0').element__label.dropdown__option-num
            button.dropdown__set-option-num.dropdown__increase-option-num +
        .dropdown__option
          .element__label.dropdown__option-label= dropdownData.type == 'guests' ? 'дети' : 'кровати'
          .dropdown__set-option-wrapper
            button.dropdown__set-option-num.dropdown__decrease-option-num -
            input(type="number" value = dropdownData.withData == true? '1' : '0').element__label.dropdown__option-num
            button.dropdown__set-option-num.dropdown__increase-option-num +
        .dropdown__option
          .element__label.dropdown__option-label= dropdownData.type == 'guests' ? 'младенцы' : 'ванные комнаты'
          .dropdown__set-option-wrapper
            button.dropdown__set-option-num.dropdown__decrease-option-num -
            input(type="number" value="0").element__label.dropdown__option-num
            button.dropdown__set-option-num.dropdown__increase-option-num +
      if dropdownData.type == 'guests'
        .dropdown__buttons-wrapper
          +button({type:'link', text: 'очистить'})
          +button({type:'link', text: 'применить'})