mixin button (data)
  if data.type=="link"
    button.button-link(
      class=data.hovered?"button-link_hovered":""
      )= data.text
  else
    .element__wrapper.button__wrapper(
      class=data.inHeader?"button-in-header__wrapper":""
      class=data.color=="dark"?"button-dark":""
      class=data.color=="light"?"button-light":""
      class=data.size=="small"?data.inHeader?"button-in-header__small-width":"button__small-width":""
      class=data.size=="large"?data.inHeader?"button-in-header__width-wide":"element__width-wide":""
      class=data.hovered?"button_hovered":""
      )
      .button__back
      button(
        class=data.inHeader?"button__button button-in-header__button":"button__button"
      )= data.text
      if data.withArrow == true
        i.material-icons.element__icon arrow_forward