mixin date-group(data)
  .date-group.element__width-wide
    .element__wrapper
      label.element__label(for=data.id+"date-dropdown-start")= data.firstDateLabel
      input(type="date" id=data.id+"date-dropdown-start").element__input.date-group__input-date
      i.material-icons.element__icon expand_more
    .element__wrapper
      label.element__label(for=data.id+"date-dropdown-end")= data.secondDateLabel
      input(type="date" id=data.id+"date-dropdown-end" value=data.secondDateValue).element__input.date-group__input-date
      i.material-icons.element__icon expand_more